<div class = search-container>

  <div class="title">
    <h1 class="title-text">Hoyas in August Event Attendees</h1>
  </div>

  <div class="row">

    <div class="column side">

      <h2 class="filter-title">Filter Attendees</h2>
        <div class="wrap">
          <p>Refine by Name</p>
          <div class="search">
            <input type="text" class="searchTerm" placeholder="Who are you looking for?">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>

      <div class="checkWrap">
        <p>School</p>
        <div class="check">
            <ul>
              <li>
                <label class="checkbox-button">
                  <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                  <span class="checkbox-button__control"></span>
                  <span class="checkbox-button__label">College</span>
                </label>
              </li>
              <li>
                <label class="checkbox-button">
                  <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                  <span class="checkbox-button__control"></span>
                  <span class="checkbox-button__label">Law</span>
                </label>
              </li>
            </ul>
        </div>
      </div>

      <div class="checkWrap">
        <p>Registration Status</p>
        <div class="check">
            <ul>
              <li>
                <label class="checkbox-button">
                  <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                  <span class="checkbox-button__control"></span>
                  <span class="checkbox-button__label">Registered</span>
                </label>
              </li>
              <li>
                <label class="checkbox-button">
                  <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                  <span class="checkbox-button__control"></span>
                  <span class="checkbox-button__label">Not Registered</span>
                </label>
              </li>
            </ul>
        </div>
      </div>

    </div>

    <div class="column middle">
      <div class="row">
        <div class="middleLeft">
          <div class="attendeeCard"
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="attendeeCard"
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
        <div class="middleRight">
          <div class="attendeeCard"
            <p>Lorem ipsum dolor sit amet.</p>
          </div>
      </div>
    </div>

  </div>

</div>
