<div class = search-container>

  <div class="title">
    <h1 class="title-text">Hoyas in August Event Attendees</h1>
  </div>

  <div class="row">

    <div class="column side">

      <h2 class="filter-title">Filter Attendees</h2>
        <div class="wrap">
          <p>Refine by Name</p>
          <div class="search">
            <input type="text" class="searchTerm" placeholder="Who are you looking for?">
            <button type="submit" class="searchButton">
              <i class="fa fa-search fa-lg"></i>
            </button>
          </div>
        </div>

      <div class="schoolWrap">
        <p>School</p>
        <div class="check">
            <ul class="checkList">
              <div class="checkLeft">
                <li>
                  <label class="checkbox-button">
                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                    <span class="checkbox-button__control"></span>
                    <span class="checkbox-button__label">College</span>
                  </label>
                </li>
              </div>
              <div class="checkRight">
                <li>
                  <label class="checkbox-button">
                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                    <span class="checkbox-button__control"></span>
                    <span class="checkbox-button__label">Law</span>
                  </label>
                </li>
              </div>
            </ul>
        </div>
      </div>

      <div class="registrationWrap">
        <p>Registration Status</p>
        <div class="check">
            <ul class="checkList">
              <div class="checkLeft">
                <li>
                  <label class="checkbox-button">
                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                    <span class="checkbox-button__control"></span>
                    <span class="checkbox-button__label">Registered</span>
                  </label>
                </li>
              </div>
              <div class="checkRight">
                <li>
                  <label class="checkbox-button">
                    <input type="checkbox" class="checkbox-button__input" id="choice1-1" name="choice1">
                    <span class="checkbox-button__control"></span>
                    <span class="checkbox-button__label">Not Registered</span>
                  </label>
                </li>
              </div>
            </ul>
        </div>
      </div>

    </div>

    <div class="column middle">
      <div class="row">
        <div class="middleLeft">
          <div class="attendeeCard">
            <div class = attendeeInfo>
              <h2 class="attendeeName">Jane Hoya</h2>
              <p class="schoolInfo">College 2010, Law 2014</p>
            </div>
            <div class = attendeeStatus>
              <p>Registered</p>
            </div>
          </div>
          <div class="attendeeCard">
            <div class = attendeeInfo>
              <h2 class="attendeeName">Richard Ardoin</h2>
              <p class="schoolInfo">College 1969, Law 1973</p>
            </div>
            <div class = attendeeStatus>
              <p>Not Registered</p>
            </div>
          </div>
        </div>
        <div class="middleRight">
          <div class="attendeeCard">
            <div class = attendeeInfo>
              <h2 class="attendeeName">William Clinton</h2>
              <p class="schoolInfo">College 1968</p>
            </div>
            <div class = attendeeStatus>
              <p>Not Registered</p>
            </div>
          </div>
      </div>
    </div>

  </div>

</div>
