/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body {
   height: 100%;
   margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0px;
 }

 .container {
   padding: 10px 20px;
   height: 100%;
 }

 .header {
   overflow: hidden;
   background-color: #003DA5;
   padding: 30px;
   height: 10px;
 }

 .header-logo {
   height: 20px;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
 }

 .top-footer{
   background: #041E42;
   width:100%;
   height:67.5px;
   text-align: center;
 }

 .footer-logo {
   height: 36px;
 }

 .footerLogoContainer {
   display: inline-block;
   float: right;
   margin: 15px;
   height: 100%
 }

 .bottom-footer{
   text-align: center;
   background: #fff;
   height:40px;
   margin: 0;
   overflow: auto;
   width: 100%;
 }

 .bottom-footer ul {
   display: inline-block;
   width: 30%;
   margin-right: 0;
   text-align: center;
 }

 .bottom-footer li, a {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-size: 16px;
   margin-left: auto;
   padding-left: 10px;
 }

 .bottom-footer a {
   color: #63666A;
   text-decoration: none;
}

 .bottom-footer  a:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}

 /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
 @media screen and (max-width: 500px) {
   .header a {
     float: none;
     display: block;
     text-align: left;
   }
   .header-right {
     float: none;
   }
 }
